@font-face {
  font-family: Basier;
  src: url('fonts/BasierSquare-Regular.otf');
}

@font-face {
  font-family: Klavika;
  src: url('fonts/Klavika\ Regular.otf');
}

body {
  margin: 0;
  font-family: Arial;
}

#header {
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
  font-family: Klavika;
  color: #ffffff;
}

#header h1 {
  margin: auto;
  font-size: 4rem;
  text-align: center;
}

#menu {
  margin: auto;
  display: flex;
  background-color: #ff0000;
}

#menu a {
  margin: 0 1vw;
  font-family: Klavika;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}

#menu a.inactive:hover,
#menu a.active:link,
#menu a.active:visited,
#menu a.active:active,
#menu a.active:hover {
  color: #bbbbbb;
}

#content {
  display: flex;
  margin: 1.5vw 1.5vw 0;
}

.main-area {
  display: flex;
  flex: 0 0 40vw;
  margin-right: 1vw;
}

.side-area {
  display: grid;
  grid-gap: 0.5vw;
  flex-grow: 1;
  font-size: 0.8rem;
}

.title {
  font-style: italic;
  font-weight: bold;
}

.main-area .title {
  margin: 1vh 0;
  font-size: 1.5rem;
}

.side-area .title {
  margin: 0.8vh 0;
  font-size: 1.2rem;
}

#side-stories {
  grid-template-columns: repeat(3, 1fr);
}

.story {
  display: flex;
  flex-direction: column;
}

.story img {
  max-width: 100%;
  height: auto;
}

#side-videos {
  grid-template-columns: repeat(2, 1fr);
}

.video {
  display: flex;
  flex-direction: column;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
